@model EventTracker.BusinessModel.Membership.HouseHold
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
            my household
    </div>
</div>
