@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="panel-body">
        @using (Html.BeginForm("LoginAuthentication", "Account", FormMethod.Post, new {id = "LoginForm", @class = "form-horizontal", @role = "form"}))
        {
            
        }

    </div>

</div>